.gridsection{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;

}

div{
    font-size: 20px;
    text-align: center;
    color: white;
}
.one{
    background-color: red;
}
.two{
    background-color: blue;
}
.three{
    background-color: red;
}
.four{
    background-color: blue;
}
.five{
    background-color: red;
}
.six{
    background-color: blue;
}
.yellow{
    background-color: yellow;
    grid-column: 1 / span 2;
}